<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<style type="text/css">
  .Book_image{
    border-radius: 1em;
  }
  .Book_image:hover{
    opacity: .4;
  }
  .Book_name{
    padding-left: 20px;
    color: black;
  }
  .Book_name:hover{
    color: grey;
  }
  .Book_author{
    padding-left: 17px;
    color: grey;
  }
</style>

<div class="row" style="margin-top:20px">
    <%if(books[0]){ 
      var i = 1;%>
    <h1 class="center"><%=books[0].category%></h1>
    <% } else {%>
    <h1 class="center">No Books In this category</h1>
    <% }%>
    <% books.forEach(function(book){ %>
    <% if(i % 4 == 1){  %>
        <div class="row">
    <% } %>
    <div class="col m3 s4" style="float:left">
      <a href="#" class="center-align">
        <img src="<%= book.image_link %>" style="margin-left:10%;height: 65%;width:90%" class="responsive-img Book_image ">
        <h5 class="Book_name"><%= book.title %></h5>
        <h6 class="Book_author"><%= book.author %></h6>
      </a>
    </div>
    <% if(i % 4 == 0){  %>
        </div>
    <% } 
    i = i + 1;%>
    <% });%>
</div>

<% include ../partials/footer.ejs %>