	<style type="text/css">
	.fa{
		font-size:1.4em;
	}
	nav ul a:hover, 
	nav ul a.active{
	  background:rgba(0, 0, 0, 0.54)
	}
	.uk-link:hover, a:hover{
			text-decoration: none;
			    color: white;
		}
		.side-nav li>a:hover{
		  background:rgba(0, 0, 0, 0.2);
		}
		#sidenav-overlay{
			z-index:0;
		}
		@keyframes zoomInDown {
          from {
            opacity: 0;
            transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
            animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
          }
        
          60% {
            opacity: 1;
            transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
          }
        }

.zoomInDown {
  animation-name: zoomInDown;
  animation-delay: .0s;
  animation-duration: .3s;
}
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

.bounceInDown {
  animation-name: bounceInDown;
  animation-delay: .4s;
  animation-duration: .6s;
}
.bounceInDown1 {
  animation-name: bounceInDown;
  animation-delay: .45s;
  animation-duration: .6s;
}
.bounceInDown2{
  animation-name: bounceInDown;
  animation-delay: .5s;
  animation-duration: .6s;
}
.logo1{
    width: 65%;
    height 100%;
    transition:.5s ease;
}
.brand-logo{
    width:100px;
}
.logo-text{
    font-size: 35px;
    font-family: sans-serif;
    font-variant: small-caps;
    font-weight: 500;
}
.brand-logo img {
  position: relative;
  width: 80px;
  height: 80px;
  /*background: #555;*/
}
.brand-logo #span1 {
    float:left;
    /*top: 12px;*/
}
.brand-logo #span2 {
  position: absolute;
  /*float:left;*/
  /*top: 18px;*/
  /*left: 10px;*/
}

	</style>		
			
			
			<!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content">
		<li><a href="/lostNfound/viewLostItems">Lost &amp; Found</a></li>
		<li><a href="/sell/viewItems">Buy / Sell</a></li>
	</ul>
	<!--<ul id="dropdown2" class="dropdown-content">-->
	<!--	<li><a href="/login/admin">Admin</a></li>-->
	<!--	<li><a href="/login/placementHead">Placement Head</a></li>-->
	<!--	<li class="divider"></li>-->
	<!--	<li><a href="/login/student">Student</a></li>-->
	<!--</ul>-->
<div class="navbar-fixed">
	<nav style="  background :#3b4446;">
		<div class="nav-wrapper">
      		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<a href="/" class="brand-logo center zoomInDown " style="height: 65px;">
			    <!--<span class="logo-text" id="span1">Grad</span>-->
			    <!--<img class="logo1" src="/images/GBlogo.png">-->
			    <img class="logo1" src="/images/GBK.png">
			    <!--<span class="logo-text" id="span2">Bunker</span>-->
			    </a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
        		<!--<li class="bounceInDown"><a href="/library">Library <i class="fa fa-book" aria-hidden="true"></i></a></li>-->
        		<li class="bounceInDown1"><a href="/viewResults"><i class="material-icons right">view_list</i> Results</a></li>
        		<li class="bounceInDown2"><a href="/placements"><i class="material-icons right">work</i> Placement</a></li>
        		<li class="bounceInDown2"><a href="/leader"><i class="material-icons right">local_play</i> Leaderboard</a></li>
        		<li><a href="/test/solutionPDF">pdf</a></li>
      		</ul>
			<ul class="right hide-on-med-and-down">
				<li class="bounceInDown2" ><a class="dropdown-button" href="#!" data-activates="dropdown1">Others<i class="material-icons right">arrow_drop_down</i></a></li>
					<% if(!currentUser){ %>
                        <li class="bounceInDown1"><a href="/register">Sign up <i class="fa fa-user-plus"></i></a></li>
						<li class="bounceInDown"><a href="/login" >Login <i class="fa fa-user"></i></a></li>
                    <% } else { %>
                    	<li><a href="/changePassword">Change Password</a></li>
                    	<li><a href="/<%= currentUser.userType %>">Home</a></li>
                        <!--<li><a href="#">< currentUser. %></a></li>-->
                        <li><a href="/logout">Logout</a></li>
                    <% } %>
			</ul>
			<ul class="side-nav" id="mobile-demo">
	        	<!--<li><a href="#">Library</a></li>-->
        		<li><a href="#">Result</a></li>
        		<li><a href="/placementHead/list">Placement</a></li>
        		<li><a href="/lostNfound">Lost &amp; Found</a></li>
				<li><a href="#!">Buy / Sell</a></li>
				<li class="divider"></li>
					<% if(!currentUser){ %>
                        <li><a href="/register">Sign up <i class="fa fa-user-plus"></i></a></li>
						<li><a href="/login" id='login'>Login <i class="fa fa-user"></i></a></li>
                    <% } else { %>
                    	<li><a href="/changePassword">Change Password</a></li>
                        <li><a href="/<%= currentUser.userType %>" >Home</a></li>
                        <li><a href="/logout">Logout</a></li>
                    <% } %>
                    
                <li class="divider"></li>
                <li><a href="/placementHead/addNewPlacement">Add New Placement</a></li>
				<li><a href="/placementHead/sendReminder">Remind Students</a></li>
      		</ul>
		</div>
	</nav>
</div>
	<script type="text/javascript">
		$(".button-collapse").sideNav();
	</script>
	<script>
	
	$(window).scroll(function() {
	  if ($(this).scrollTop() >= 30) {
	    $('.logo1').css({'height':'62px','width':'68px'});
	    $('.logo1').attr("src","/images/GBWhite.png");
	  }else{
	      $('.logo1').attr("src","/images/GBK.png");
	        $('.logo1').css({'height':'80px','width':'80px'});
	    
	  }
	});
		$('.dropdown-button').dropdown({
			constrainWidth: false, // Does not change width of dropdown to that of the activator
			hover: true, // Activate on hover
			gutter: 0, // Spacing from edge
			belowOrigin: true, // Displays dropdown below the button
			alignment: 'left', // Displays dropdown with edge aligned to the left of button
			stopPropagation: false // Stops event propagation
		});
		
		if(!window.location.href.split('/')[3]=='')
		    $("a[href*='/"+window.location.href.split('/')[3]+"']").addClass('active');
		
		
		
	</script>