<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>tests</title>
		<link type='text/css' rel='stylesheet' href='/stylesheets/test.css'/>
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open Sans"/>
		
	</head>
	<body>
		<p id="demo"></p>
		<div class='button' id="submitTest"> <a href='#'>Submit Test</a></div>
		<div id='container'>
			<div id='title'>
				<h1>Test number <%=questionset%></h1>
			</div>
   			<br/>
  			<div id='quiz'>
  			</div>
  			
    		<div class='button btn' id='next'><a href='#'>Next</a></div>
    		<div class='button btn' id='prev'><a href='#'>Prev</a></div>
    		<!-- <div class='button' id='start'> <a href='#'>Start Over</a></div> -->
    		
    	</div>
    	<div class="buttonContainer">
    	</div>
    	<div id='legend'></div>
    	<div class="resp"></div>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
		<div id="analysis"></div>
		<script type='text/javascript' src='/js/test.js'></script>
	</body>
</html>
