<% include ./partials/header.ejs %>
<% include ./partials/navbar.ejs %>

<div class="container">
    <div class="row">
        <div class="center-align">
            <img src="/images/mail_verification.png" height="275" width="275">
            <p class="center-align"><h4>Verification Mail Sent!</h4></p>
        </div>
    </div>
</div>

<% include ./partials/scripts.ejs %>
<% include ./partials/footer.ejs %>