<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
    <div class="row">
        <div class="col s10 offset-s1 m4 offset-m4 center" style="margin-top:2%">
            <img class="responsive-img" src="/images/mail_sent.jpg">
        </div>
        <div class="col s10 offset-s1 m6 offset-m3 center-align">
            <h5>Placement information updated successfully</h5> 
            <h5>and</h5> 
            <h5>mail sent to students!</h5> 
        </div>
    </div>
<% include ../partials/scripts.ejs %>
<% include ../partials/footer.ejs %>