<!DOCTYPE html>
<html>
<head>
	<title>Get Links</title>
</head>
<body>
    <h4>Upload images to get links</h4>
    <form enctype="multipart/form-data" action="/upload" method="post">
        <div>
            <input type="file" name="image" />
            <p>
                <input type="submit" class="seven coloums" 
                    value="Click here to upload image and get link" name="submit">
                <p><span id = "status"></span></p>
            </p>
        </div>
    </form>
</body>
</html>