 header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
.side-nav li>a:hover,
.side-nav li>a.active{
  background-color: rgba(27, 22, 22, 0.53) !important;
}    
    #slide-out{
      border:0;
    }
    #slide-out1{
      border:0;
    }
    .text-center{
    	text-align: center;
    }
    .card-text{
    	margin:0.14rem 0 0.912rem 0;
    }
    .card-users{
    	background-color: #608da2;
    }
    .card-Students{
    	background-color: #608da2;
    }
    .card-Students i{
    	font-size: 6.5em;
    }
    .card-books{
    	background-color: #7bbfd2;
    }
    .card-books i{
    	font-size: 6.6em;
    }
    .card-placement{
    	background-color: #7bbfd2;
    	margin:5px 50px 7px 18px !important;
    	height: 90px;
    }
    
    .cst_color{
      background:#474e3c !important;
    }
    .canvas-cont{
    	/*width: 400px;*/
    	height: 400px;
    }
    .hvr-float-shadow {
      cursor:pointer;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a li>a>[class*="mdi-"], .side-nav li>a>i.material-icons{
        margin:0 5px 0 0;
    }
    
    .side-nav.fixed{
        top:64px;
    }
    .collapsible-body{
      background-color: rgba(255, 255, 255, 0) !important;
    }
    .collapsible-body li a{
      background-color: rgba(97, 97, 111, 0.21) !important;
    }
    @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .row{
    	margin-left: 250px;
    }
}
    
    @media only screen and (max-width: 950px) {
  .row{
    	margin-left: 30px;
    }
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  .row{
    	margin-left:1px;
    } 
    .side-nav.fixed{
        top:56px;
    }
}
    /*@media screen and (max-width: 800px){*/
    /*  .row{*/
    /*	margin-left: 230px;*/
    /*}*/
    /*}*/
    /*@media screen and (min-width: 600px){*/
    /*  .row{*/
    /*	margin-left: 20px;*/
    /*}*/
    /*}*/
    @media screen and (min-width: 400px)
    and (max-width: 630px){
      .row{
    	margin-left:1px;
    }
    /*canvas{*/
    /*  width: 20%;*/
    /*  height: auto;*/
    /*}*/
    }
    
    @-moz-document url-prefix() {
     .row{
    	margin-left:250px;
    }    
    
    
    @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .row{
    	margin-left: 250px;
    }
}
    
    @media only screen and (max-width: 950px) {
  .row{
    	margin-left: 30px;
    }
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  .row{
    	margin-left:1px;
    } 
}
    /*@media screen and (max-width: 800px){*/
    /*  .row{*/
    /*	margin-left: 230px;*/
    /*}*/
    /*}*/
    /*@media screen and (min-width: 600px){*/
    /*  .row{*/
    /*	margin-left: 20px;*/
    /*}*/
    /*}*/
    @media screen and (min-width: 400px)
    and (max-width: 630px){
      .row{
    	margin-left:1px;
    }
    /*canvas{*/
    /*  width: 20%;*/
    /*  height: auto;*/
    /*}*/
    }
    }
    