<div> 
	<p> Hello  <%=data.firstName%> , </p> 
	<p> This is a mail from GradBunker.  </p> 
	<p> Copy the verification code is mentioned below: </p>
	<p><strong>  <%=data.verCode%>  </strong></p>
	<p> Or, <a href="/resetPassword/<%=data.verCode%>">click here</a> to reset your password!</p>
	<p> If you did not forget your password, Please ignore this mail</p>
	<p> Regards, </p>
	<p> GradBunker</p>
</div>