<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<title>GradBunker - Login</title>
<div class="row" style="padding-top:5%">
    <div class="col s12 m10 offset-m1 l4 offset-l4">
      <div class="card-panel">
        <h4 class="center">Login to sell/giveaway</h4>
        <div class="row">
    <form class="col s12" action="/sell/sellLogin" method="POST" >
      <div class="row">
      <div class="input-field col s12">
        <input id="email" name="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s12">
        <input id="password" name="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light blue right" type="submit" name="action">Login
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
      </div>
    </div>
</div>
<% include ../partials/footer.ejs %>