
<link rel="stylesheet" type="text/css" href="/font/flaticon.css"> 
<style>
    .side-nav{
        top: 63px;
        width: 250px;
        background-color:#2f2f2f;
            color: white;
    }
    .side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a li>a>[class*="mdi-"], .side-nav li>a>i.material-icons{
      color: white;
    }
    .side-nav li>a{
        background-color:#2f2f2f;
            color: white;
    }
</style>
<!--<div class="row">-->
<ul id="slide-out1" class="side-nav fixed collapsible" data-collapsible="accordion">
        <li class="logo">
      		<a id="logo-container" href="/placementHead" class="brand-logo1">
      		Placement Head
            </a>
        </li>
        <li>
        	<div class="collapsible-header waves-effect">
        	    <i class='flaticon-people'></i>
        	    Student </div>
		      <div class="collapsible-body">
		      	<ul>
		      		<li><a href="/placementHead/student_list" >List</a></li>
                    <li><a href="/placementHead/addStudent">Add</a></li>
		      	</ul>
		      	
		      </div>
        </li>
        <li><a href="/placementHead/addNewPlacement">
            <i style='color:white' class="fa fa-plus" aria-hidden="true"></i>
            Add New Placement</a></li>
        <li><a href="/placementHead/addNewInternship">
            <i style='color:white' class="fa fa-plus" aria-hidden="true"></i>
            Add New Internship</a></li>
        <li><a href="/placementHead/list">
            <i class="material-icons left" style='font-size:1.2em'>work</i> 
            View Placements</a></li>
        <li><a href="/placementHead/viewStats">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
            View Test Stats</a></li>
        <li><a href="/placementHead/sendReminder">
            <i class='flaticon-mail' style="    width: 47px;margin-left: -21px;"></i>
            Remind Students</a></li>
    </ul>
      <a class="btn-floating btn-large waves-effect waves-light red button-collapse1"  data-activates="slide-out1" ><i class="material-icons">label_outline</i></a>

    <!--<a href="#" data-activates="slide-out1" class="button-collapse1"><i class="material-icons large">label_outline</i></a>-->
    <script>
    $('.button-collapse').sideNav({
        edge: 'right'
    });
    $('.button-collapse1').sideNav();
    if(!window.location.href.split('/')[4]=='')
		    $("a[href*='/"+window.location.href.split('/')[4]+"']").addClass('active');
    </script>